doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style(src='./css/main_style.css')
        title Only test
    body 
        .page 
            h1.page__title Lorem ipsum 

            .spoilers 
                .spoilers__item 
                    .spoilers__button.active
                        h2.spoilers__title 1. Nullam tincidunt vestibulum porttitor 
                        .spoiles__icon
                    .spoilers__content 
                        p.spoilers__text Assumenda atque adipisci praesentium debitis? Consectetur incidunt nobis porro officiis doloribus voluptates magnam, iusto distinctio? Sequi hic incidunt necessitatibus aliquid quae facilis!

                .spoilers__item 
                    .spoilers__button
                        h2.spoilers__title 2. Class aptent taciti sociosqu ad litora 
                        .spoiles__icon 
                    .spoilers__content 
                        p.spoilers__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi itaque, quis aut veritatis recusandae vitae alias fugiat est repellendus, culpa nobis. Nemo amet eligendi omnis sequi distinctio repellat hic. Fugiat.Consectetur, saepe libero? Tenetur debitis molestias eveniet odio neque temporibus incidunt placeat maxime praesentium iure labore amet magni sint aliquid tempora perferendis inventore, harum qui exercitationem. Ipsa enim velit dolor.

                .spoilers__item 
                    .spoilers__button
                        h2.spoilers__title 3. Nulla fringilla ligula elit, non laoreet ipsum rutrum eget 
                        .spoiles__icon
                    .spoilers__content 
                        p.spoilers__text Nemo amet eligendi omnis sequi distinctio repellat hic. Fugiat.Consectetur, saepe libero? Tenetur debitis molestias eveniet odio neque temporibus incidunt placeat maxime praesentium iure labore amet magni sint aliquid tempora perferendis inventore, harum qui exercitationem. Ipsa enim velit dolor.
                        p.spoilers__text Tenetur debitis molestias eveniet odio neque temporibus incidunt placeat maxime praesentium iure labore amet magni sint aliquid tempora perferendis inventore, harum qui exercitationem. Ipsa enim velit dolor.

                .spoilers__item 
                    .spoilers__button
                        h2.spoilers__title 4. Mauris ut suscipit tellus 
                        .spoiles__icon
                    .spoilers__content 
                        p.spoilers__text Tenetur debitis molestias eveniet odio neque temporibus incidunt placeat maxime praesentium iure labore amet magni sint aliquid tempora perferendis inventore, harum qui exercitationem. 

                .spoilers__item 
                    .spoilers__button
                        h2.spoilers__title 5. Nullam placerat porta libero, vel maximus augue euismod eget 
                        .spoiles__icon
                    .spoilers__content 
                        p.spoilers__text Nemo amet eligendi omnis sequi distinctio repellat hic. Fugiat.Consectetur, saepe libero? Tenetur debitis molestias eveniet odio neque temporibus incidunt placeat maxime praesentium iure labore amet magni sint aliquid tempora perferendis inventore, harum qui exercitationem. Ipsa enim velit dolor.
                        p.spoilers__text Tenetur debitis molestias eveniet odio neque temporibus incidunt placeat maxime praesentium iure labore amet magni sint aliquid tempora perferendis inventore, harum qui exercitationem. Ipsa enim velit dolor.
                        p.spoilers__text Tenetur debitis molestias eveniet odio neque temporibus incidunt placeat maxime praesentium iure labore amet magni sint aliquid tempora perferendis inventore, harum qui exercitationem. Ipsa enim velit dolor.                

        script(src='/script/main-script.js')